<!-- <p>
  project-detail works!
</p>
-->

<button (click)="changeTitle('My new detail title')">Click</button>

<div class="formcontainer">
  <div class="alert alert-success" role="alert" *ngIf="successMessage">{{successMessage}}</div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

    <form [formGroup]="projectForm"  class="form-horizontal">
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-2 control-lable" for="uname">Application name</label>
        <div class="col-md-7">
          <input type="text" formControlName="name" placeholder="Enter project name">
          <p *ngIf="(projectForm.controls.name.hasError('minlength')
                              || projectForm.controls.name.hasError('maxlength'))
                              && !projectForm.controls.name.hasError('required')">
            Name should contain between 6 to 20 characters
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-2 control-lable" for="sourcelocale">Source language</label>
        <div class="col-md-7">
          <input type="text" formControlName="sourceLocale" placeholder="en_EN, fi_FI etc.">
          <p *ngIf="projectForm.controls.sourceLocale.hasError('pattern')
                              && !projectForm.controls.sourceLocale.hasError('required')">
            Language code should have 5 characters like en_EN
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-2 control-lable" for="format">
								  File format: <!-- ({{project.format}}) -->
                  <select class="form-control" id="format" formControlName="format">
                    <option *ngFor="let f of formats" [ngValue]="f">{{f}}</option>
                  </select>
							</label>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-md-2 control-lable" for="type">
								  Type: <!-- ({{project.type}}) -->
                  <select class="form-control" id="type" formControlName="type">
                    <option *ngFor="let t of types" [ngValue]="t">{{t}}</option>
                  </select>
							  </label>
      </div>
    </div>
    <pre>{{projectForm.value | json}}</pre>

    <div class="row">
      <div class="form-actions floatRight">
        <button class="btn btn-primary btn-sm"
          (click)="setDefaultProject()">New</button>
        <button class="btn btn-primary btn-sm" [disabled] = "!projectForm.valid || projectForm.pristine"
          (click)="save()">Save</button>
        <button class="btn btn-primary btn-sm" [disabled] = "!projectForm.valid || (project.id === 0)"
          (click)="delete(project); $event.stopPropagation()">Delete</button>
      </div>
    </div>
  </form>
