<!--
<p>
  Container projects works!
</p>
<ng-content></ng-content>
<hr>
-->
<app-project-search> </app-project-search>
<hr>

<div class="generic-container">

  <app-error-message> </app-error-message>

  <div class="panel panel-default">
    <div class="panel-heading" *ngIf="!isDetailHidden ">
      <span class="lead">{{detailTitle}} </span>
    </div>
    <div class="panel-body" *ngIf="!isDetailHidden ">
      <app-project-detail
          (onTitleChanged)="onDetailTitleChanged($event)"
          (onError) = "OnErrorMessage($event)"
          (onSuccess) = "OnSuccessMessage($event)"
          (onProjectChanged) = "OnProjectChanged($event)">
      </app-project-detail>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead">{{listTitle}} </span>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <app-project-list
          (onTitleChanged)="onListTitleChanged($event)"
          (onEditClicked) = "OnEditClicked($event)"
          (onError) = "OnErrorMessage($event)"
          (onSuccess) = "OnSuccessMessage($event)">
        </app-project-list>
      </div>
    </div>
  </div>

</div>

