<h1>Welcome to app!!</h1>
<ul>
<li> <a routerLink="/projectsmain">Project</a>
<a routerLink="/projectdetail">Detail</a>
<a routerLink="/projectsearch">Search</a>
<a routerLink="/projectlist">List</a>
<a [routerLink]="['/projects', { state: 'edit', id: 1 }]">Bookmark</a>
<a routerLink="/projects" id="projects" >Container</a>

<li> <a routerLink="/workscomponent">Works</a>
<a routerLink="/worksdetail">Detail</a>
<a routerLink="/workslist">List</a>
<a [routerLink]="['/works', { state: 'edit', id: 1 }]">Bookmark</a>
<a routerLink="/works">Container</a>

<li> <a routerLink="/test-dialog">Dialog</a>
<a routerLink="/test-tooltip">Tooltip</a>
<a routerLink="/test-menu">Menu</a>


</ul>

<router-outlet> </router-outlet>


<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>

