<ul>
<li> <a routerLink="/projectsmain">All</a>
<li> <a routerLink="/projectdetail">Detail</a>
<li> <a routerLink="/projectsearch">Search</a>
<li> <a routerLink="/projectlist">List</a>
<li> <a routerLink="/projects">Container</a>
</ul>

<router-outlet> </router-outlet>

<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>

