<h1>Welcome to app!!</h1>
<ul>
<li> <a routerLink="/projectsmain">Project</a>
<a [routerLink]="['/projectdetail', { state: 'edit', id: 1 }]">Detail</a>
<a [routerLink]="['/projectlist', { state: 'list', userId: 1 }]">List</a>
<a [routerLink]="['/projects', { state: 'edit', id: 1 }]">Projetcs => Detail</a>
<a [routerLink]="['/projects', { state: 'list', userId: 1 }]">Projetcs => List</a>
<a [routerLink]="['/projects', { state: 'edit', id: 1 }]">Bookmark</a>
<a routerLink="/projects" id="projects" >Container</a>

<li> <a routerLink="/workscomponent">Works</a>
<a [routerLink]="['/worksdetail', { state: 'edit', id: 1 }]">Detail</a>
<a [routerLink]="['/workslist', { state: 'list', projectId: 1 }]">List</a>
<a [routerLink]="['/works', { state: 'edit', id: 1 }]">Works => Detail</a>
<a [routerLink]="['/works', { state: 'list', projectId: 1 }]">Works => List</a>
<a [routerLink]="['/works', { state: 'edit', id: 1 }]">Bookmark</a>
<a routerLink="/works">Container</a>

<li> <a routerLink="/unitscomponent">Units</a>
<a [routerLink]="['/unitsdetail', { state: 'edit', id: 1 }]">Detail</a>
<a [routerLink]="['/unitslist', { state: 'list', workId: 1 }]">List</a>
<a [routerLink]="['/units', { state: 'edit', id: 1 }]">Units => Detail</a>
<a [routerLink]="['/units', { state: 'list', workId: 1 }]">Units => List</a>
<a [routerLink]="['/units', { state: 'edit', id: 1 }]">Bookmark</a>
<a routerLink="/units">Container</a>

<li> <a routerLink="/test-dialog">Dialog</a>
<a routerLink="/test-tooltip">Tooltip</a>
<a routerLink="/test-menu">Menu</a>


</ul>

<router-outlet> </router-outlet>


<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>

