<!--
<p>
  unit-detail works!
</p>
-->
<div *ngIf ="unit; let unit" class="formcontainer">

  <div class="row">
    <div class="form-group col-md-12">
      <div class="col-md-12">
        {{unitHistory | uppercase}}, 2 days ago
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <div class="col-md-12">
        {{unit.serialNumber}}: {{unit.source.text}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <div class="col-md-12">
        <textarea [(ngModel)]="unit.target.text" id="targettext" class="form-control input-sm">{{unit.target.text}}</textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-actions floatRight">
        <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
    </div>
  </div>
</div>

<p></p> <p></p> <p></p> <p></p> <p></p> <p></p>
<div class="panel panel-default">
  <div class="panel-heading"><span class="lead">Instructions</span></div>
  <div class="panel-body">
    <div class="formcontainer">
    </div>
  </div>
</div>

<p></p> <p></p> <p></p> <p></p> <p></p> <p></p>
<div class="panel panel-default">
  <div class="panel-heading"><span class="lead">Comments</span></div>
  <div class="panel-body">
    <div class="formcontainer">
    </div>
  </div>
</div>
