<p>
  unit-detail works!
</p>

<div *ngIf="unit" class="formcontainer">

  <div class="row">
    <div class="form-group col-md-12">
      <div class="col-md-7">
        {{unitHistory | uppercase}}, 2 days ago
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <div class="col-md-7">
        {{unit.serialNumber}}: {{unit.source.text}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <div class="col-md-7">
        <textarea [(ngModel)]="unit.target.text" id="unittarget" class="targettext form-control input-sm">{{unit.target.text}}</textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-actions floatRight">
        <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
        <button class="btn btn-primary btn-sm" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
