<!--
<p>
  project-list works!
</p>
-->
<button (click)="changeTitle('My new list title')">Click</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>NAME</th>
      <th>FORMAT</th>
      <th>CHARSET</th>
      <th>LNG</th>
      <th>CNT</th>
      <th width="100"></th>
      <th width="100"></th>
    </tr>
  </thead>

  <tbody>
    <!-- <tr *ngFor="let prj of promiseProjects | async"> -->
    <!-- <tr *ngFor="let prj of (promiseViewProjects | async)?.projects"> -->
    <tr *ngFor="let prj of observableProjects | async">
      <td>{{prj.name}}</td>
      <td>{{prj.format}}</td>
      <td>{{prj.type}}</td>
      <td>{{prj.sourceLocale}}</td>
      <td *ngIf="observableProjectWorkMap | async; let workCountMap; else emptycell">
        {{workCountMap[prj.id]}}
      </td>
      <ng-template #emptycell> <td> 0 </td></ng-template>

      <div class="form-actions floatRight">
        <td><button (click) = "goToProjectDetail(prj.id)">Edit</button></td>
        <td><button (click) = "goToWorks(prj.id)" id ="Next">Next</button></td>
      </div>
    </tr>
  </tbody>
</table>

